@page "/"


    <PageTitle>Free to All</PageTitle>

    <span class="ftaTitle" style="align-items:center;">
        Free to All
    </span>

    <div id="Offer" class="homepagePanelRow">
        <p class="homepagePanelRowTitle">Offer</p>
        I have a <input type="text" id="offerText" class="itemTitle" /> that I am willing to <select name="offerType" id="offerType"><option value="give">give</option><option value="loan">loan</option></select>
        <p>Note</p>
        <textarea id="offerNote" class="itemNote" />
        <input type="button" id="offerButton" value="Send" class="goButton" />
    </div>

    <div id="Want" class="homepagePanelRow">
        <p class="homepagePanelRowTitle">Want</p>
        I would like a <input type="text" id="wantText" class="itemTitle" /> please
        <p>Note</p>
        <textarea id="wantNote" class="itemNote" /> <input type="button" id="wantButton" value="Send" class="goButton" />
    </div>
    <div id="myOffers" class="homepagePanelBlock">
        <p class="homepagePanelRowTitle">My Offers</p>
    </div>

    <div id="myWants" class="homepagePanelBlockRight">
        <p class="homepagePanelRowTitle">My Wants</p>
    </div>



    <div class="bottomPanel">
        <p class="pHeader">Disclaimer</p>
        <p>
            Some legal disclaimer, protecting CCB.
        </p>
    </div>
